#sandbox_theme_panel_117416 {
   top: 50% !important;
   width: 140px !important;
}
.menu-34 .menu-scroll,
.title-page .menu-34 .menu-scroll {
   display: none;
}
.menu-pc .menu-pc-in {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}
.menu-pc .menu-pc-in > li {
   margin: 0 10px 10px 0;
   position: relative;
}
.menu-pc .menu-pc-in > li > a {
   cursor: pointer;
   display: flex;
   align-items: center;
   color: #fff;
   font-size: 14px;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 1.4;
   font-family: "Open Sans", sans-serif;
   background: #911991;
   border-radius: 5px;
   padding: 6px 12px;
   height: 54px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
   max-width: 160px;
}
.menu-pc .menu-pc-in > li > a img {
   margin-right: 10px;
   max-width: 100%;
   height: auto;
   max-height: 54px;
}
.menu-pc .menu-pc-in > li > a:hover {
   background: #DA95FE;
}
.menu-pc .menu-pc-in > li ul {
   display: none;
   flex-wrap: wrap;
   position: absolute;
   top: 100%;
   left: 0;
   width: 717px;
   background: #c1dcf3;
   padding: 16px 0 6px 14px;
   margin: 0;
   list-style: none;
   border-radius: 5px;
   z-index: 100;
}
.menu-pc .menu-pc-in > li ul.one {
   width: 242px;
}
.menu-pc .menu-pc-in > li ul.two {
   width: 480px;
}
.menu-pc .menu-pc-in > li ul li {
   margin: 0 10px 10px 0;
}
.menu-pc .menu-pc-in > li ul li a {
   cursor: pointer;
   display: flex;
   align-items: center;
   color: #DA95FE;
   font-size: 14px;
   text-decoration: none;
   font-weight: bold;
   line-height: 1.1;
   font-family: "Open Sans", sans-serif;
   background: transparent;
   border-radius: 5px;
   padding: 9px 12px;
   min-height: 54px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
   width: 228px;
   box-sizing: border-box;
}
.menu-pc .menu-pc-in > li ul li a img {
   margin-right: 10px;
   max-width: 100%;
   height: auto;
   max-height: 54px;
}
.menu-pc .menu-pc-in > li ul li a:hover {
   color: #fff;
   background: #DA95FE;
}
.menu-pc .menu-pc-in > li ul li ul {
   display: none;
}
.menu-pc .menu-pc-in > li:hover > ul {
   display: flex;
}
@media all and (max-width: 960px) {
   .menu-34 .menu-scroll,
   .title-page .menu-34 .menu-scroll {
      display: block;
   }
   .menu-pc {
      display: none;
   }
}
